
:root {
	
	/* ------- Main colors ------- */

	--dark-gray: #1f1f1f;
	--gray: #3d3d3d;
	--light-gray: #5c5c5c;
	--text-gray: #a5acb4;
	--blue: #00a1e0;
	--white: #deeaf7;

	/* ---x------------------x--- */


	/* ------- Main Fonts ------- */

	--Montserrat: 'Montserrat', sans-serif;
	--Amiko: 'Amiko', 'Verdana';

	/* ---x------------------x--- */

}



body {
	background: var(--gray);
	color: var(--white);
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	font-family: var(--Montserrat);
	background: var(--dark-gray);
	height: 100px;
}

p {
	font-family: var(--Amiko);
	font-size: 16px;
	margin: 0;
}
ul {
	font-family: var(--Amiko);
	margin: 0;
}
h1 {
	font-family: var(--Montserrat);
	font-weight: 800;
	font-size: 30px;
	margin: 10px 0;
}
h2 {
	font-family: var(--Montserrat);
	color: var(--text-gray);
	font-weight: 800;
	font-size: 27px;
	margin: 10px 0;
}
h3 {
	font-family: var(--Montserrat);
	font-weight: 800;
	font-size: 25px;
	margin: 10px 0;
}

span {
	color: var(--text-gray);
}

nav {
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: var(--white);
}

nav li :hover {
	color: var(--blue);
}

article {
	display: flex;
	align-items: center;
	margin: 150px auto 110px;
}


footer {
	background: var(--dark-gray);
}

section {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

section article{
	display: inline-block;
	margin: 0;
}

.nav-ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-brand :hover {
	color:var(--blue);
}

.nav-pages p {
	font-size: 24px;
	font-weight: 500;
}

.nav-brand p {
	font-size: 28px;
	font-weight: 600;
}

.nav-brand a {
	display: flex;
	align-items: center;
}

.nav-brand p {
	margin-left: 20px;
}

.nav-pages a{
	margin-left: 60px;
}

.card {
	display: flex;
	width: 70%;
	height: 350px;
	margin: 0 auto;
	background: var(--light-gray);
	border-radius: 70px;
	align-items: center;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

.hello .text {
	padding-left:70px;
}

.hello h1 {
	font-size: 40px;
	margin: 0;
}

.photo {
	padding: 0 70px 0 50px;
}

#logoSmall {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

#photo {
	height: 550px;
	border-radius: 35px;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

.qInfo {
	display: inline-block;
	height: 570px;
}

.title {
	margin: 60px auto;
	background: var(--gray);
	width: 85%;
	padding: 5px;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.2);
}

#qInfo-photo {
	height: 300px;
	border-radius: 35px;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

.flex-row {
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.flex-qInfo h2 {
	margin-top: 0;
}

.facts-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.facts-ul li {
	margin-top: 5px;
}

.articles-proj {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.articles-proj .card {
	height: 530px;
	display: inline-block;
	width: 500px;
}

section .flex-row {
	width: 75%;
	justify-content: space-between;
	align-items: start;
}

section .title {
	width: 75%;
	margin: 40px auto 35px;
	padding: 5px;
}

.proj-photo {
	height: 340px;
	margin-right: 20px;
}

#proj-code-photo {
	height: 340px;
	border-radius: 40px;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

#proj-design-photo {
	height: 340px;
	border-radius: 40px;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

.articles-proj .text h3 {
	margin-bottom: 10px;
}

.contacts {
	padding: 0 40px;
}

.links {
	display: flex;
}

.links li {
	list-style-type: none;
	margin: 0 10px;
}

.contacts {
	width: 100%;
	height: 150px;
	border-radius: 70px;
	display: flex;
	justify-content: space-between;
}

.contacts .title{
	margin: 0;
	width: 40%;
}

.copyright {
	margin: 0px;
	padding: 20px 0;
	text-align: center;
}
